
<div class="container">
  <image-cropper
  #el
  [imageURL]="imageUrl[imageIndex]"
  [maintainAspectRatio]="true"
  [imageChangedEvent]="imageChangedEvent"
  [canvasRotation]="canvasRotation"
  (cropperReady)="cropperReady($event)"></image-cropper>


  <button (click)="rotateLeft()" class="left-rotate">left</button>
  <button (click)="rotateRight()" class="right-rotate">right</button>



  <button (click)="next()" class="left-next">next</button>
  <button (click)="prev()" class="right-next">prev</button>
  

  <button (click)="download()" class="download">Download</button>
</div>


